Repository Fintan-contents/mobile-app-crib-notes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

.azure-pipelines/deploy-all.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml

.azure-pipelines/deploy-dev.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml
    parameters:
      environments:
      - name: dev
        laneName: dev
        androidAppPath: android/app/build/outputs/bundle/debug/app-debug.aab
        iOSAppPath: ios/build/santoku-app-dev.ipa

.azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml
    parameters:
      buildVariants:
      - name: devSantokuAppDebugAdvanced
        laneName: dev_debug_advanced
        buildType: debugAdvanced
  ...

.azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml
    parameters:
      buildVariants:
      - name: devSantokuAppReleaseInHouse
        laneName: dev_release_in_house
        buildType: releaseInHouse
  ...

.azure-pipelines/deploy-santokuAppDebugAdvanced.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml
    parameters:
      buildVariants:
      - name: santokuAppDebugAdvanced
        laneName: debug_advanced
        buildType: debugAdvanced
  ...

.azure-pipelines/deploy-santokuAppReleaseInHouse.yml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yml
    parameters:
      buildVariants:
      - name: santokuAppReleaseInHouse
        laneName: release_in_house
        buildType: releaseInHouse
  ...

.azure-pipelines/deploy-stg.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml
    parameters:
      environments:
      - name: stg
        laneName: stg
        androidAppPath: android/app/build/outputs/bundle/release/app-release.aab
        iOSAppPath: ios/build/santoku-app-stg.ipa

📝: 学習コンテンツにReact NativeとExpoの紹介ページを追加 (#1294)
  website/docs/react-native/learn/basic-concepts.mdx
  website/docs/react-native/learn/basic-concepts/app-development-metro-bundler.drawio.png
  website/docs/react-native/learn/basic-concepts/app-elements.drawio.png
  website/docs/react-native/learn/basic-concepts/app-release.drawio.png
  website/docs/react-native/learn/basic-concepts/expo-go.drawio.png
  website/docs/react-native/learn/basic-concepts/multi-app-on-one-app.drawio.png
  website/docs/react-native/learn/basic-concepts/react-native-basics.md
  website/docs/react-native/learn/basic-concepts/what-is-expo.mdx
  website/docs/react-native/learn/basic-concepts/what-is-react-native.mdx
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
  website/docs/sidebars.js
Due: none

🩹 認証のoverview.mdへの変更提案 (#1289)
  website/docs/reference/auth/overview.md
Due: none

🐛: 命名規約に従って修正 (#1297)
  example-app/SantokuApp/src/features/app-updates/services/useAppUpdates.ts
  example-app/SantokuApp/src/features/demo-react-query/pages/DisableErrorHandlerDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItem.ts
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItemInfo.ts
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

📝: ドキュメントのコード欄にTypeエラーを修正 (#1298)
  website/docs/react-native/santoku/application-architecture/error-handling/how-to-handle-error.mdx
Due: none

🐛: 誤字とリンクを修正 (#1305)
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  website/docs/react-native/learn/qa-app/exercise-basic-home-test-case.md
Due: none

🐛: isLoading設定誤りを修正 (#1296)
  example-app/SantokuApp/src/features/account/services/account/useAccountCommands.ts
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

📝: Q&Aアプリの実装前に読んでもらいたいページとコンポーネント作成時の注意点を追加 (#1299)
  website/docs/react-native/learn/qa-app/about-component-units.mdx
  website/docs/react-native/learn/qa-app/about-implementation-selection.mdx
  website/docs/react-native/learn/qa-app/exercise-basic-home-components.md
  website/docs/react-native/learn/qa-app/margins-between-components.drawio.png
  website/docs/react-native/learn/qa-app/pre-app-implementation.mdx
  website/docs/react-native/learn/qa-app/qa-app.md
  website/docs/react-native/learn/qa-app/screen-home-header.png
  website/docs/react-native/learn/qa-app/screen-question-detail-header.png
  website/docs/sidebars.js
Due: none

📝: ESLint関連のvupに伴うルール一覧の更新 (#1307)
  website/docs/react-native/santoku/development/implement/style-guide/eslint.mdx
Due: none

🩹: MIT Licenseで提供されているソースコード（extensible-custom-error）の利用箇所リンクが間違っているので修正 (#1306)
  README.md
Due: none

🩹: Pull Request Labelerのバージョンを固定 (#1309)
  .github/workflows/triage.yaml
Due: none

✏️: 文章表現の改善 (#1311)
  website/docs/react-native/santoku/application-architecture/http-api/http-api-tanstack-query.mdx
  website/docs/react-native/santoku/application-architecture/third-party-libraries/overview.mdx
Due: none

📝: 商標追加 (#1310)
  website/src/pages/trademark.md
Due: none

📌: ドキュメントから参照するrn-spoilerのタグを更新 (#1313)
  website/docusaurus.config.js
Due: none

📝: Q&Aアプリのテストケースに含まれている不要な情報を削除 (#1312)
  website/docs/react-native/learn/qa-app/テストケース_イベント一覧画面.xlsx
  website/docs/react-native/learn/qa-app/テストケース_イベント詳細画面.xlsx
  website/docs/react-native/learn/qa-app/テストケース_一覧画面（ホーム画面）.xlsx
  website/docs/react-native/learn/qa-app/テストケース_入力画面.xlsx
  website/docs/react-native/learn/qa-app/テストケース_質問詳細画面.xlsx
Due: none

📝: 2023/12 Fintan公開用にLPを更新 (#1308)
  website/landing-page/learn-react-native-lp.md
  website/landing-page/react-native-example-app-architecture-description.md
Due: none

📌: Q&Aアプリで使用するmswのバージョンを指定 (#1314)
  website/docs/react-native/learn/qa-app/app-project-desc.md
Due: none

Lockfile maintenance
  example-app/SantokuApp/package-lock.json
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

ExpoとExpoが管理するライブラリのアップデート
  example-app/SantokuApp/app.config.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

`npx expo-doctor`でバージョン整合性を確認
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

既存パッチファイルの更新
  example-app/SantokuApp/patches/@expo+config-plugins+8.0.9.patch
  example-app/SantokuApp/patches/expo-splash-screen+0.27.6.patch
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

パッチファイルを更新
  example-app/SantokuApp/patches/@expo+config-plugins+8.0.8.patch
  example-app/SantokuApp/patches/expo-splash-screen+0.27.5.patch
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

ビルドなどに利用するツールのバージョンを更新
  .azure-pipelines/deploy.yaml
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
  .tool-versions
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml

Prebuild (local)
  example-app/SantokuApp/prebuild/local/android/.gitignore
  example-app/SantokuApp/prebuild/local/android/app/build.gradle
  example-app/SantokuApp/prebuild/local/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainApplication.kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/res/drawable/rn_edit_text_material.xml
  example-app/SantokuApp/prebuild/local/android/app/src/main/res/values/styles.xml
  example-app/SantokuApp/prebuild/local/android/build.gradle
  example-app/SantokuApp/prebuild/local/android/gradle.properties
  example-app/SantokuApp/prebuild/local/android/gradle/wrapper/gradle-wrapper.jar
  example-app/SantokuApp/prebuild/local/android/gradle/wrapper/gradle-wrapper.properties
  example-app/SantokuApp/prebuild/local/android/gradlew.bat
  example-app/SantokuApp/prebuild/local/android/react-settings-plugin/build.gradle.kts
  example-app/SantokuApp/prebuild/local/android/react-settings-plugin/src/main/kotlin/expo/plugins/ReactSettingsPlugin.kt
  example-app/SantokuApp/prebuild/local/android/settings.gradle
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/AppDelegate.mm
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/Info.plist
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/LocalSantokuApp.entitlements
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/Supporting/Expo.plist
  example-app/SantokuApp/prebuild/local/ios/Podfile
  example-app/SantokuApp/prebuild/local/ios/Podfile.properties.json
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

`defaultProps`の利用箇所を修正
  example-app/SantokuApp/src/bases/ui/button/Button.tsx
  example-app/SantokuApp/src/bases/ui/loading/Overlay.tsx
  example-app/SantokuApp/src/bases/ui/snackbar/SnackbarComponent.tsx
  example-app/SantokuApp/src/bases/ui/webview/WebView.tsx
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

APNsのエンタイトルメントを追加
  example-app/SantokuApp/app.config.js
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/LocalSantokuApp.entitlements
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

Jestスナップショットを更新
  example-app/SantokuApp/src/bases/ui/barcode/__snapshots__/Barcode.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/overlay/__snapshots__/OverlayBackdrop.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/overlay/__snapshots__/OverlayContainer.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/DateTimePicker.ios.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/PickerContainer.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/SelectPicker.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/SelectPickerItems.android.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/YearMonthPicker.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/qrcode/__snapshots__/QRCode.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/webview/__snapshots__/WebView.test.tsx.snap
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
  example-app/SantokuApp/src/features/terms/components/__snapshots__/TermsAgreementOverlayComponent.test.tsx.snap
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

静的解析エラーの修正
  example-app/SantokuApp/src/bases/ui/picker/SelectPickerItems.ios.tsx
  example-app/SantokuApp/src/bases/ui/tab/TabBar.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItem.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/getAccountsMeLikes.ts
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

Reanimated.ViewのanimatedPropsに渡す値を修正
  example-app/SantokuApp/src/bases/ui/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/PickerContainer.test.tsx.snap
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

expo-constantsのモックからdefault以外もexportするように修正
  example-app/SantokuApp/jest/__mocks__/expo-constants.ts
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

ライセンス情報を更新
  example-app/SantokuApp/.script/managed-license.js
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

Prebuild
  example-app/SantokuApp/prebuild/dev/android/.gitignore
  example-app/SantokuApp/prebuild/dev/android/app/build.gradle
  example-app/SantokuApp/prebuild/dev/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainApplication.kt
  example-app/SantokuApp/prebuild/dev/android/app/src/main/res/drawable/rn_edit_text_material.xml
  example-app/SantokuApp/prebuild/dev/android/app/src/main/res/values/styles.xml
  example-app/SantokuApp/prebuild/dev/android/build.gradle
  example-app/SantokuApp/prebuild/dev/android/gradle.properties
  example-app/SantokuApp/prebuild/dev/android/gradle/wrapper/gradle-wrapper.jar
  example-app/SantokuApp/prebuild/dev/android/gradle/wrapper/gradle-wrapper.properties
  example-app/SantokuApp/prebuild/dev/android/gradlew.bat
  example-app/SantokuApp/prebuild/dev/android/react-settings-plugin/build.gradle.kts
  example-app/SantokuApp/prebuild/dev/android/react-settings-plugin/src/main/kotlin/expo/plugins/ReactSettingsPlugin.kt
  example-app/SantokuApp/prebuild/dev/android/settings.gradle
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp/AppDelegate.mm
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp/Info.plist
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp/Supporting/Expo.plist
  example-app/SantokuApp/prebuild/dev/ios/Podfile
  example-app/SantokuApp/prebuild/dev/ios/Podfile.properties.json
Due: .azure-pipelines/deploy-all.yaml, .azure-pipelines/deploy-dev.yaml, .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml, .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml, .azure-pipelines/deploy-santokuAppReleaseInHouse.yml, .azure-pipelines/deploy-stg.yaml

🚀: Publish 2024.11
  website/docs/react-native/learn/getting-started/create-project.md
Due: none

🚀: Publish 2024.12
  website/docs/react-native/learn/getting-started/create-project.md
Due: none

Path conditions:
  .azure-pipelines/deploy-all.yaml: any of: .tool-versions, .azure-pipelines, example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-dev.yaml: any of: .tool-versions, .azure-pipelines, example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-santokuAppReleaseInHouse.yml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-stg.yaml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
